POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

ACCESS_TOKEN_EXPIRED=
REFRESH_TOKEN_EXPIRED=
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=

ACCESS_TOKEN_MINIO=
SECRET_TOKEN_MINIO=
ENDPOINT_MINIO=
BUCKET_NAME_MINIO=